<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SparkDev Robotics</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

    body {
        background-color: black;
        color: white;
        font-family: 'Fira Code';
        text-align: center;
    }
</style>

<body>
    <img src="{{ url_for('video_feed') }}">
    <h1>Object Detection Camera</h1>
</body>

</html>